.unicornverse {
	overflow: hidden !important;
	height: fit-content;
	max-width: 1440px;
	margin: 0 auto;
	// background-color: black;
	.home_aura {
		background-color: black;
		color: white;
		text-align: center;
		height: 90vh;
		width: 100%;
		margin: 0 auto;
		overflow-x: hidden !important;
		// .fade_universe {
		// 	&::after {
		// 	z-index: 999;
		// 		display: block;
		// 		content: "";
		// 		width: 1px;
		// 		height: 1px;
		// 		position: absolute;
		// 		left: 35%;
		// 		top: 50%;
		// 		background-color: black;
		// 		box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 1);
		// 	}
		// 	&::before {
		// 		z-index: 999;
		// 		display: block;
		// 		content: "";
		// 		width: 100px;
		// 		height: 100px;
		// 		position: absolute;
		// 		right: 35%;
		// 		top: 50%;
		// 		background-color: rgb(211, 4, 4);
		// 		box-shadow: 0px 0px 400px 200px rgba(0, 0, 0, 1);
		// 	}
		// }
		.hover_solar {
			transition: 0.5s color ease;
			cursor: pointer;
			&:hover {
				animation: sunAnimation 5s infinite;
				@keyframes sunAnimation {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.5);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
		.hover_sun {
			transition: 0.5s color ease;
			cursor: pointer;
			&:hover {
				animation: sunAnimation 5s infinite;
				@keyframes sunAnimation {
					0% {
						transform: scale(1);
					}
					50% {
						transform: scale(1.1);
					}
					100% {
						transform: scale(1);
					}
				}
			}
		}
		input {
			opacity: 0;
		}
	}
}
