html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans;
	/* width */
	overflow-x: hidden;
}

* {
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}

#ideal-orbit-size ~ .universe {
	--planet-size-factor: 0.16;
	--sun-size-factor: 0.004;
}
@media (max-width: 649px) {
	#ideal-orbit-size:checked ~ .universe {
		--planet-size-factor: 0.3;
		--sun-size-factor: 0.07;
	}
}
@media (min-width: 650px) {
	#ideal-orbit-size:checked ~ .universe {
		--planet-size-factor: 0.6;
		--sun-size-factor: 0.1;
	}
}
#real-time:checked ~ .universe {
	--speed-of-animation: 1;
}
#one-year-per-minute:checked ~ .universe {
	--speed-of-animation: 518400;
}
#one-year-per-second:checked ~ .universe {
	--speed-of-animation: 61104000;
}
#topview ~ .universe {
	--topview: -65deg;
	--angle-sun-glow: 65deg;
}
#topview:checked ~ .universe {
	--topview: 0deg;
	--angle-sun-glow: 0deg;
}
#isometric ~ .universe {
	--perspective: 750px;
}
#isometric:checked ~ .universe {
	--perspective: 10000px;
}
#translateLeft:checked ~ .universe {
	animation: universe-translateLeft 3.2s ease-in-out;
	transform: translateX(-45%);
}
@keyframes universe-translateLeft {
	0% {
		transform: scale(0.8) translateX(0);
		opacity: 1;
	}
	20% {
		transform: scale(0.5);
	}
	90% {
		opacity: 0.7;
	}

	100% {
		transform: scale(1) translateX(-45%);
		opacity: 0.1;
	}
}
.universe {
	--orbit-size-factor: 1000000;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	// bottom: 0;
	// background: radial-gradient(#020311 0%, #000 100%);
	background: rgb(0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: var(--perspective);
	transition: perspective 2s;
	animation: universe-animation 3s ease-in-out;
	transform: scale(0.8);
}
@keyframes universe-animation {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	75% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.8);
		opacity: 1;
	}
}
.solarsystem {
	position: relative;
	width: 90%;
	max-width: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotateZ(90deg) rotateY(var(--topview));
	transform-style: preserve-3d;
	transition: transform 2s;
}
.solarsystem::after {
	display: block;
	content: "";
	width: 100%;
	padding-top: 100%;
	border-radius: 50%;
}
.sun {
	position: absolute;
	width: calc(1391px * var(--sun-size-factor));
	height: calc(1391px * var(--sun-size-factor));
	// background-color: #ffe493;
	background-image: url("../public/images/unicornverse/center.png");
	background-size: cover;
	background-position: center;
	border-radius: 50%;
	transform-style: preserve-3d;
	transition: width 2s, height 2s;
	z-index: 10;
}
.sun::before {
	display: block;
	content: "";
	height: 600%;
	width: 600%;
	background: radial-gradient(
		rgba(255, 228, 147, 0.15),
		rgba(255, 228, 147, 0.1) 40%,
		rgba(255, 255, 255, 0) 70%
	);
	border-radius: 50%;
	transform-origin: center center;
	transform: translateY(-40%) translateX(-40%) rotateY(var(--angle-sun-glow));
	transition: transform 2s;
}
.text_sun {
	position: absolute;
	top: 50%;
	left: 60%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	color: white;
	opacity: 0;
	transition: 0.5s opacity ease;
}
.sun:hover .text_sun {
	opacity: 1;
}
#ideal-orbit-size:checked ~ .universe .sun {
	transition-delay: 0.6s;
}
.sun-orbit {
	transform-style: preserve-3d;
	border-radius: 50%;
	transition: width 2s, height 2s;
}
.earth-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.venus-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.mercury-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.mars-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.jupiter-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.saturn-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.uranus-orbit:hover {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.neptun-orbit {
	&:hover {
		border: 0.5px solid rgb(255, 255, 255);
		.box_image {
			box-shadow: 0px 0px 150px 100px rgba(138, 118, 9, 0.8);
		}
	}
}
.box_image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 50%;
	height: 50%;
	z-index: -1;
	box-shadow: none;
	transition-delay: 0.3s;
	transition-duration: 0.7s;
}
.mercury-orbit {
	position: absolute;
	width: 1.29%;
	height: 1.29%;
	transform: rotateZ(-224deg);
	transition-delay: 0s;
	z-index: 9;
	border: 0.5px dashed rgb(97, 97, 97);
}
#ideal-orbit-size:checked ~ .universe .mercury-orbit {
	width: 12.5%;
	height: 12.5%;
	transition-delay: 0.6s;
}
.venus-orbit {
	position: absolute;
	width: 2.4%;
	height: 2.4%;
	transform: rotateZ(-144deg);
	transition-delay: 0.1s;
	z-index: 8;
	border: 0.5px dashed rgb(97, 97, 97);
}
#ideal-orbit-size:checked ~ .universe .venus-orbit {
	width: 25%;
	height: 25%;
	transition-delay: 0.5s;
}
.earth-orbit {
	position: absolute;
	width: 3.33%;
	height: 3.33%;
	transform: rotateZ(-101deg);
	transition-delay: 0.2s;
	z-index: 7;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_earth-orbit 4s;
	transform: rotate(-10deg);
}
@keyframes border_white_earth-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	65% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	75% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	85% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	95% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	100% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
}
#ideal-orbit-size:checked ~ .universe .earth-orbit {
	width: 37.5%;
	height: 37.5%;
	transition-delay: 0.4s;
}
.mars-orbit {
	position: absolute;
	width: 5.06%;
	height: 5.06%;
	transform: rotateZ(-39deg);
	transition-delay: 0.3s;
	z-index: 6;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_mars-orbit 4s;
}
@keyframes border_white_mars-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	75% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	80% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	85% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	95% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	100% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
}
#ideal-orbit-size:checked ~ .universe .mars-orbit {
	width: 50%;
	height: 50%;
	transition-delay: 0.3s;
}
.jupiter-orbit {
	position: absolute;
	// width: 17.25%;
	// height: 17.25%;
	width: 57.25%;
	height: 57.25%;
	transform: rotateZ(-245deg);
	transition-delay: 0.4s;
	z-index: 5;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_jupiter-orbit 4s;
	transform: rotate(-60deg);
}
@keyframes border_white_jupiter-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	80% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	85% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	100% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
}
#ideal-orbit-size:checked ~ .universe .jupiter-orbit {
	width: 62.5%;
	height: 62.5%;
	transition-delay: 0.2s;
}
.saturn-orbit {
	position: absolute;
	width: 31.65%;
	height: 31.65%;
	transform: rotateZ(-282deg);
	transition-delay: 0.5s;
	z-index: 4;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_saturn-orbit 4s;
}
@keyframes border_white_saturn-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	85% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	90% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	100% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
}
#ideal-orbit-size:checked ~ .universe .saturn-orbit {
	width: 75%;
	height: 75%;
	transition-delay: 0.1s;
}
.uranus-orbit {
	position: absolute;
	width: 63.96%;
	height: 63.96%;
	transform: rotateZ(-29deg);
	transition-delay: 0.6s;
	z-index: 3;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_uranus-orbit 4s;
	transform: rotate(35deg);
}
@keyframes border_white_uranus-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	90% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	95% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
	100% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
}
#ideal-orbit-size:checked ~ .universe .uranus-orbit {
	width: 87.5%;
	height: 87.5%;
	transition-delay: 0s;
}
.neptun-orbit {
	position: absolute;
	width: 93.5%;
	height: 93.5%;
	transform: rotateZ(-347deg);
	z-index: 2;
	border: 0.5px dashed rgb(97, 97, 97);
	animation: border_white_neptun-orbit 4s;
	transform: rotate(220deg);
}
.w_h_95 {
	width: 100% !important;
	height: 100% !important;
	z-index: -1;
}
.w_h_uranus {
	width: 81.5% !important;
	height: 81.5% !important;
	z-index: -1;
}
.w_h_saturn {
	width: 69% !important;
	height: 69% !important;
	z-index: -1;
}
.w_h_jupiter {
	width: 56.5% !important;
	height: 56.5% !important;
	z-index: -1;
}
.w_h_mars {
	width: 44% !important;
	height: 44% !important;
	z-index: -1;
}
.w_h_earth {
	width: 31.5% !important;
	height: 31.5% !important;
	z-index: -1;
}
.w_h_venus {
	width: 19% !important;
	height: 19% !important;
	z-index: -1;
}
@keyframes border_white_neptun-orbit {
	0% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	95% {
		border: 0.5px dashed rgb(97, 97, 97);
	}
	100% {
		border: 0.5px dashed rgb(255, 255, 255);
	}
}
.orbit__visual {
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.13);
	width: 100%;
	height: 100%;
	border-radius: 50%;
	transform: translate3d(-1px, -1px, 0);
	transform-style: preserve-3d;
}
.orbit__shape {
	position: absolute;
	width: calc(100% + 1px);
	height: calc(100% + 1px);
	-webkit-animation: orbit infinite;
	animation: orbit infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-delay: calc(
		(var(--seconds-left) * -1) / var(--speed-of-animation)
	);
	animation-delay: calc(
		(var(--seconds-left) * -1) / var(--speed-of-animation)
	);
	transform-style: preserve-3d;
}
.orbit__shape--mercury {
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--venus {
	// -webkit-animation-duration: calc(19414166s / var(--speed-of-animation));
	// animation-duration: calc(19414166s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--earth {
	// -webkit-animation-duration: calc(31553280s / var(--speed-of-animation));
	// animation-duration: calc(31553280s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--mars {
	// -webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	// animation-duration: calc(59356800s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--jupiter {
	// -webkit-animation-duration: calc(374025600s / var(--speed-of-animation));
	// animation-duration: calc(374025600s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--saturn {
	// -webkit-animation-duration: calc(928886400s / var(--speed-of-animation));
	// animation-duration: calc(928886400s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--uranus {
	// -webkit-animation-duration: calc(2649369600s / var(--speed-of-animation));
	// animation-duration: calc(2649369600s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.orbit__shape--neptun {
	// -webkit-animation-duration: calc(5196787200s / var(--speed-of-animation));
	// animation-duration: calc(5196787200s / var(--speed-of-animation));
	-webkit-animation-duration: calc(59356800s / var(--speed-of-animation));
	animation-duration: calc(59356800s / var(--speed-of-animation));
}
.planet {
	position: relative;
	border-radius: 50%;
	min-width: 1px;
	min-height: 1px;
	margin: 0 auto;
	left: 0;
	right: 0;
	transform-style: preserve-3d;
	transition: width 2s, height 2s, top 2s;
}
.planet::before {
	position: relative;
	display: none;
	content: "";
	height: 500%;
	transform: translateY(-100%);
	width: 100%;
	background: linear-gradient(
		to top,
		rgba(1, 2, 13, 0.8),
		rgba(1, 2, 13, 0) 100%
	);
	-webkit-clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%);
	clip-path: polygon(50% 0%, 100% 100%, 100% 100%, 0% 100%);
}
.planet__structure {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: 50%;
	transform-style: preserve-3d;
}
.planet__structure--1 {
	transform: rotateZ(30deg);
}
.planet__structure--2 {
	// transform: rotateZ(-30deg);
	// transform: rotate(-135deg);
}
.rotate_neptun-orbit {
	transform: rotate(-265deg);
	animation: rotate_neptun-orbit 114.5s linear infinite;
}
@keyframes rotate_neptun-orbit {
	0% {
		transform: rotate(-265deg);
	}
	100% {
		transform: rotate(95deg);
	}
}
//Invention
.rotate_jupiter-orbit {
	transform: rotate(-345deg);
	animation: rotate_jupiter-orbit 114.5s linear infinite;
}
@keyframes rotate_jupiter-orbit {
	0% {
		transform: rotate(-345deg);
	}
	100% {
		transform: rotate(15deg);
	}
}
//Dauntless
.rotate_uranus-orbit {
	transform: rotate(-80deg);
	animation: rotate_uranus-orbit 114.5s linear infinite;
}
@keyframes rotate_uranus-orbit {
	0% {
		transform: rotate(-80deg);
	}
	100% {
		transform: rotate(280deg);
	}
}
//Zen
.rotate_saturn-orbit {
	transform: rotate(-125deg);
	animation: rotate_saturn-orbit 114.5s linear infinite;
}
@keyframes rotate_saturn-orbit {
	0% {
		transform: rotate(-125deg);
	}
	100% {
		transform: rotate(235deg);
	}
}
//Health
.rotate_earth-orbit {
	transform: rotate(-35deg);
	animation: rotate_earth-orbit 114.5s linear infinite;
}
@keyframes rotate_earth-orbit {
	0% {
		transform: rotate(-35deg);
	}
	100% {
		transform: rotate(325deg);
	}
}
// Center
.rotate_sun {
	animation: rotate_sun 20s linear infinite;
}
@keyframes rotate_sun {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0);
	}
}
.planet__structure--3 {
	transform: rotateX(30deg) rotateY(90deg);
}
.planet__structure--4 {
	transform: rotateX(-30deg) rotateY(90deg);
}
.planet__structure--5 {
	transform: rotateZ(90deg) rotateY(30deg);
}
.planet__structure--6 {
	transform: rotateZ(90deg) rotateY(-30deg);
}
.planet__structure::before {
	position: absolute;
	top: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	transform: rotateX(45deg);
	background-color: inherit;
	border-radius: 50%;
}
.planet__structure::after {
	position: absolute;
	top: 0;
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	transform: rotateX(-45deg);
	background-color: inherit;
	border-radius: 50%;
}
.mercury {
	width: calc(4.87px * var(--planet-size-factor));
	height: calc(4.87px * var(--planet-size-factor));
	// background-color: #68696d;
	top: calc(-2.435px * var(--planet-size-factor));
}
.venus {
	width: calc(12.1px * var(--planet-size-factor));
	height: calc(12.1px * var(--planet-size-factor));
	// background-color: #d3a567;
	top: calc(-6.05px * var(--planet-size-factor));
}
.earth {
	width: calc(12.7px * var(--planet-size-factor));
	height: calc(12.7px * var(--planet-size-factor));
	// background-color: #00f;
	top: calc(-6.35px * var(--planet-size-factor));
}
.mars {
	width: calc(6.7px * var(--planet-size-factor));
	height: calc(6.7px * var(--planet-size-factor));
	// background-color: #c1440e;
	top: calc(-3.45px * var(--planet-size-factor));
}
.jupiter {
	width: calc(139.822px * var(--planet-size-factor));
	height: calc(139.822px * var(--planet-size-factor));
	// background-color: #d8ca9d;
	top: calc(-69.911px * var(--planet-size-factor));
}
.saturn {
	width: calc(116.464px * var(--planet-size-factor));
	height: calc(116.464px * var(--planet-size-factor));
	// background-color: #d2c0a5;
	top: calc(-58.232px * var(--planet-size-factor));
}
.uranus {
	width: calc(50.724px * var(--planet-size-factor));
	height: calc(50.724px * var(--planet-size-factor));
	// background-color: #d1e7e7;
	top: calc(-25.362px * var(--planet-size-factor));
}
.neptun {
	width: calc(49.244px * var(--planet-size-factor));
	height: calc(49.244px * var(--planet-size-factor));
	// background-color: #3f54ba;
	top: calc(-24.622px * var(--planet-size-factor));
}
.planet-orbit {
	-webkit-animation: orbit infinite;
	animation: orbit infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	transform-style: preserve-3d;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
}
.planet-orbit--saturn {
	-webkit-animation-duration: calc(933465600s / var(--speed-of-animation));
	animation-duration: calc(933465600s / var(--speed-of-animation));
	-webkit-animation-delay: calc(
		((var(--seconds-left) + 433366400) * -1) / var(--speed-of-animation)
	);
	animation-delay: calc(
		((var(--seconds-left) + 433366400) * -1) / var(--speed-of-animation)
	);
}
.rings-of-saturn {
	transform: rotateX(0deg) rotateY(27deg);
	position: absolute;
	width: calc(280px * var(--planet-size-factor) + 3px);
	height: calc(280px * var(--planet-size-factor) + 3px);
	background: radial-gradient(
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 45%,
		#c1b199 48%,
		#c1b199 65%,
		rgba(0, 0, 0, 0) 66%,
		#c1b199 68%,
		#c1b199 100%
	);
	top: calc(-140px * var(--planet-size-factor) - 1.5px);
	border-radius: 50%;
	margin: 0 auto;
	left: 0;
	right: 0;
	transition: width 2s, height 2s, top 2s;
}
.ascending-node {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	/*&--mercury
    transform rotateZ(48.33deg)
  &--venus
    transform rotateZ(76.68deg)
  &--earth
    transform rotateZ(-11.26deg)
  &--mars
    transform rotateZ(49.58deg)
  &--jupiter
    transform rotateZ(100.55deg)
  &--saturn
    transform rotateZ(113.72deg)
  &--uranus
    transform rotateZ(74.23deg)
  &--neptun
    transform rotateZ(131.72deg)*/
}
.inclination {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
	/*&--mercury
    transform rotateX(-7deg)
  &--venus
    transform rotateX(-3.5deg)
  &--earth
    transform rotateX(0deg)
  &--mars
    transform rotateX(-1.9deg)
  &--jupiter
    transform rotateX(-1.3deg)
  &--saturn
    transform rotateX(-2.5deg)
  &--uranus
    transform rotateX(-0.8deg)
  &--neptun
    transform rotateX(-1.8deg)*/
}
.content {
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 16px;
	top: 0;
	left: 0;
	position: absolute;
	font-family: Open Sans, sans-serif;
	text-align: center;
}
.content h1 {
	font-weight: 300;
	text-transform: uppercase;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 15px;
}
.controls {
	justify-content: center;
	font-weight: 300;
	letter-spacing: 1px;
	font-size: 13px;
	max-width: 600px;
	width: 100%;
}
@media (max-width: 649px) {
	.controls {
		position: absolute;
		bottom: 0;
	}
}
@media (min-width: 650px) {
	.controls {
		display: inline-block;
	}
}
.controls span {
	width: 120px;
}
.controls__group {
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	display: flex;
	flex: 1;
	margin-bottom: 15px;
}
.controls__group > * {
	padding: 10px;
	display: block;
}
.button {
	flex: 1;
	transition: background-color 0.4s;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.button:hover {
	background-color: rgba(255, 255, 255, 0.2);
}
.button:first-of-type {
	border-radius: 9px 0 0 9px;
}
.button:last-child {
	border-radius: 0 9px 9px 0;
}
#ideal-orbit-size:checked ~ .content .button.ideal-size,
#correct-orbit-size:checked ~ .content .button.correct-size,
#real-time:checked ~ .content .button.real-time,
#one-year-per-minute:checked ~ .content .button.one-year-per-minute,
#one-year-per-second:checked ~ .content .button.one-year-per-second,
#topview:checked ~ .content .button.topview,
#isometric:checked ~ .content .button.isometric,
#threedee:checked ~ .content .button.threedee {
	background-color: rgba(255, 255, 255, 0.3);
}
@-webkit-keyframes orbit {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
@keyframes orbit {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

// Size solar
.size-solar-big {
	width: 200px;
	height: 200px;
}
.size-solar-xl {
	width: 130px;
	height: 130px;
}
.size-solar-small {
	width: 100px;
	height: 100px;
}
.size-solar-uranus-orbit {
	width: 150px;
	height: 150px;
}

// position solar
.position-solar-6 {
	top: -65px;
}
.position-solar-5 {
	top: -55px;
}
.position-solar-3 {
	top: -55px;
}
.position_zen {
	top: -60px;
}
.position-solar-2 {
	top: -40px;
}
.position-solar-1 {
	top: -50px;
}
